.resume2 {
  display: flex;
}
.atas {
  height: 100vh;
  width: 95%;
}

.buttonDL {
  text-align: center;
  justify-content: center;
  margin-top: -100px !important;
}

.spacePreview {
  /* background-color: #343a40; */
}

@media screen and (max-width: 600px) {
  .skills_left {
    display: grid;
  }
  .buttonDL {
    margin-bottom: 20px;
  }
}
