/* .resume2 {
  display: flex;
} */
.atas {
  height: 90vh;
  width: 95%;
}

.buttonDL {
  text-align: center;
  justify-content: center;
  margin-top: -100px !important;
}

.spacePreview {
  background-color: #fff;
  position: fixed;
  top: 9;
  right: 0;
}

@media screen and (max-width: 768px) {
  .skills_left {
    display: grid;
  }
  .buttonDL {
    margin-bottom: 20px;
  }
  .spacePreview {
    background-color: #fff;
    position: relative;
    /* top: 9;
    right: 0; */
  }
}
